{
	email {$ACME_EMAIL}
}

{$SHEA_DOMAIN} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	@next_auth path /api/auth* /api/health
	reverse_proxy @next_auth admin:3000

	@graphql path /api/graphql*
	handle @graphql {
		uri strip_prefix /api
		reverse_proxy backend:3001
	}

	handle /uploads/* {
		root * /srv
		file_server
	}

	handle /downloads/pos/* {
		root * /srv
		file_server
	}

	@backend_health path /api/backend-health
	handle @backend_health {
		rewrite * /health
		reverse_proxy backend:3001
	}

	reverse_proxy admin:3000
}
